{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="sidebar-search">
            <div class="input-group">
                <form class="form-inline ml-5">
                    <div class="input-group input-group-sm search-form">
                        <input id="search" type="text" class="form-control form-control-navbar" type="search" placeholder="Search here.." aria-label="Search" style="font-size: 17px;" size="40">
                        <div class="input-group-append">
                            <button class="btn btn-navbar" type="submit">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </div>
                </form>
                <!-- <input id="search" type="text" class="form-control" placeholder="Search here.."> -->
            </div>
        </div>  
        <div class="sidebar-search">
            <div class="input-group">  
                <ul class="nav" id="side-menu">
                    <li>
                    {% if doctors %} 
                    <a href="#">Results<span class="fa arrow"></span></a>
                        <!-- <a href="#">Results<span class="fa arrow"></span></a> -->
                        <div class="row">
                            {% for doctor in doctors %}
                                <p id="entitiesNav"></p>
                            {% endfor %}     
                        </div>
                    {% endif %}
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}  
 
{% block javascripts %}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script type="text/javascript">
        jQuery(document).ready(function() {
            //console.log("test1");
            var searchRequest = null;
            $("#search").keyup(function() {
                var minlength = 1;
                var that = this;
                var value = $(this).val();
                var entitySelector = $("#entitiesNav").html('');
                //console.log("test2");
                if(value.length >= minlength) {
                    //console.log("test3");
                    if(searchRequest == null) {
                        console.log("test4");
                    }
                    if(searchRequest != null) 
                        //console.log("test5");
                        searchRequest.abort();
                        //console.log("test3");
                    searchRequest = $.ajax({
                        type: "GET",
                        url: "{{ path('doctor_search') }}",
                        data: {
                            'q': value
                        },
                        dataType: "text",
                        success: function(msg) {
                            if(value === $(that).val()) {
                                var result = JSON.parse(msg);
                                $.each(result, function(key, arr) {
                                    $.each(arr, function(id, value) {
                                        if(key === 'doctors') {
                                            if(id !== 'error') {
                                                console.log(value[1]);
                                                entitySelector.append('<li><a href="/doctor/'+id+'">'+'<p>'+value[0]+' '+value[1]+'</p>'+'</a></li>');              
                                            } else {
                                                entitySelector.append('<li>'+value+'</li>');
                                            }
                                        }
                                    });
                                });
                            }
                        }
                    });    
                }
            });
        });
    </script>
 
{% endblock %}
