{% block body %}
    <a href="/" class="brand-link">
        <img src="{{ asset('dist/img/cc_logo.png') }}" alt="CardioCare Logo" class="brand-image img-circle elevation-2" style="opacity: .8">
        <span class="brand-text font-weight-light"><b>Cardio</b>Care</span>
    </a>
{% endblock %}