{% block body %}  

    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link" data-slide="true" href="{{ path('logout') }}" style="font-size: 17px;">Logout</a>
        </li>
    </ul>

{% endblock %}